@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital@0;1&display=swap");


* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding: 100px;
}
body {
  margin: 0;
  padding: 0;
  color: #001691;
  font-family: Roboto, sans-serif;
  font-size: 15px;
}
#background {
  background: linear-gradient(1600deg, #111, rgb(0, 119, 255));
  position: fixed;
  width: 100%;
  height: 100%;
}
.card {
  position: relative;
  z-index: 2;
  border-radius: 20px;
  /* background-color: #2b9dbf; */
  padding: 20px;
  margin-bottom: 10px;
  border: 4px solid #00ffff5c;
}

.nav {
  z-index: 3;
  position: sticky;
  top: 10px;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-style: double;
  border-color: aqua;
  border-width: 4px;
  outline: 3px solid rgb(142, 255, 255);
  background-color: #2b9dbf;
}
.nav li {
  padding: 15px;
  padding-inline: 0;
  transition: all 0.2s ease-in-out;
  width: auto;
}
.nav li:hover {
  background-color: rgb(248, 248, 129);
}
.nav a {
  padding: 15px;
  padding-inline: 30px;
  color: #001691;
}

.container {
  border: 2px solid rgb(85, 85, 218);
  max-width: 1000px;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
}
header {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 20px;
}

#avatar {
  position: relative;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
  padding: 20px;
}
#avatar img {
  width: auto;
}
.eye {
  width: 60px;
  height: 60px;
  position: fixed;
  /* border: 5px solid black; */
  border-radius: 50%;
  top: 10%;
  left: 10%;
  background: radial-gradient(
    circle at 50%,
    #111,
    #111 40%,
    #eee 60%,
    rgba(0, 0, 0, 0) 70%
  );
  z-index: 1;
  scale: 0.2;
  mix-blend-mode: lighten;
}
.eyes {
  mix-blend-mode: luminosity;
}
.eyes-around,
.eyes {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  /* background: #5c3515; */
  background: url("img/blue-spiral.gif");
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 10px 10px #e7341c;
}
#eye-1 {
  left: 33%;
  top: 40.6%;
}
#eye-2 {
  left: 63.5%;
  top: 40.6%;
}
.eyes-around {
  top: 35%;
  left: 35%;
  box-shadow: 0 0 10px 10px #111;
}
#social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#social-links-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#social-links-list li {
  margin-top: 25px;
}
.image-link {
  width: 100px;
  transition: all 0.2s ease-in-out;
}
.image-link:hover {
  scale: 1.5;
}
header p {
  margin-top: 0;
}
main {
  border-radius: 10px;
  margin: 10px;

  margin-bottom: 20px;
}
table {
  width: 100%;
  font-size: 25px;
}
td,
th {
  border: 2px solid rgb(43, 43, 43);
  border-radius: 10px;
  text-align: center;
}
#hobby {
  font-size: x-large;
}
#hobby h2 {
  text-align: center;
  border-bottom: 2px solid #0e6763;

  padding-bottom: 15px;
}
#hobby h3 {
  text-align: center;
}
#feedback {
  display: flex;
  justify-content: center;
}
#feedback h3 {
  text-align: center;
  font-size: 32px;
}
#feedback-form > div {
  display: flex;
  justify-content: space-between;
}
.feedback-input {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-bottom: 10px;
}
#feedback-form > label {
  font-size: 30px;
}
#feedback-form input {
  border-radius: 5px;
  margin-bottom: 5px;
  /* margin-right: 5px; */
  background-color: #396d8b;
  border-style: solid;
  border-color: #72b8bb;
  color: white;
  font: inherit;
  outline: none;
}
#feedback-form input::placeholder {
  color: rgba(255, 255, 255, 0.479);
}
#feedback-form textarea {
  resize: none;
  width: 100%;
  border-radius: 5px;
  background-color: #396d8b;
  border-style: solid;
  border-color: #72b8bb;
  color: white;
  font: inherit;
  outline: none;
}
#feedback-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.479);
}
#feedback-form button {
  display: block;
  font-size: large;
  padding: 10px;
  margin: 5px;
  margin-inline: auto;
  width: 50%;
  border-style: solid;
  background-color: #69bdb2;
  border-color: #72b8bb;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  font: inherit;
}
#feedback-form button:hover {
  color: white;
  background-color: #045fc8;
}
footer {
  margin: auto;
  margin: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}
a {
  list-style: none;
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-in-out;
}
a,
button {
  cursor: pointer;
}
.color-0,
.color-1 {
  background: linear-gradient(to right bottom, #2b9dbf, #2b7f99);
}
.color-2 {
  background: linear-gradient(to right bottom, #2b7f99, #2f8ba7, #2b7f99);
}
.color-3 {
  background: linear-gradient(to right bottom, #2b7f99, #2b9dbf);
}
.color-4 {
  background: linear-gradient(to right bottom, #2c8fad, #2b92b1);
}

@media (max-width: 830px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  header > div {
    width: 100%;
  }
  #social-links {
    text-align: center;
  }
  #social-links-list ul {
    display: flex;
    gap: 15px;
  }
  #social-links-list li {
    margin-top: 0;
  }
  #feedback-form > div {
    display: block;
  }
  .feedback-input {
    width: 100%;
    margin-bottom: 5px;
  }
  /* .feedback-input input {
    width: 100%;
  } */
}
@media (max-width: 700px) {
  #avatar {
    width: auto;
  }
  .eyes {
    transform: scale(0.5);
  }

  .image-link {
    width: 50px;
  }
  .nav {
    justify-content: space-evenly;
  }
  .nav li {
    margin-inline: 0;
    padding-inline: 0;
  }
}
@media (max-width: 600) {
  #hobby p {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  .nav li {
    font-size: 10px;
  }
  tr {
    font-size: 10px;
  }
}
