* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content:space-evenly;
}
header>div{
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}
#avatar{
    width: 300px;
}
header p {
  margin-top: 0;
}
table{
  display: flex;
  flex-direction: column;
  align-items: center;
}
 td, th {
  border: 2px solid black;
  border-radius: 10px;
}
.image-link {
  width: 30px;
}
#hobby{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#feedback {
  display: flex;
  justify-content: center;
}
#feedback-form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#feedback-form>label{
font-size: 30px;
  margin-bottom: 20px;
}
#feedback-form button {
  font-size: large;
  padding: 10px;
  width: 50%;
}
footer {
  margin: auto;
  display: flex;
justify-content: space-between;
width: 60%;
}
#side-sites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}