/* Tag Name */
body {
    background: #eee;
}
/* Class */
.card {
padding: 10px;
background-color: #fff;
/* margin-bottom: 10px; */

}
.card p {
    font-size: 14px;
}
.html{
    background-color: #c64d24;
}
.css {
    background-color: #1d31c8;
}


/* Id */
#header {
    background: #ddd;
    padding: 10px;
}
#header, .html, .css{
    margin-bottom: 10px;
}

